{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-prettier/recommended"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "no-descending-specificity": null,
    "block-no-empty": null
  }
}